[submodule "modules/gerrit"]
	path = modules/gerrit
	url = https://github.com/roidelapluie/puppet-gerrit.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
